body {
    display: block;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1134px;
    margin-right: auto;
    margin-left: auto;
}

.button-primary {
    font-family: "Barlow", serif;
    text-decoration: none;   
    border: 2px solid #483224;
    color: #FFFFFF;
    display: inline-block;

    span {
        display: inline-block;
        background-color: #483224;
        border-radius: 20px 0 20px 0;
        padding: 10px 20px;

        transition: 500ms all;
    }

    &:hover {
        border: 2px solid #803E38;
        span {
            border-radius: 0;
            background-color: #803E38;
        }
    }
}

// header
header {
    background-color: #803E38;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.menu-left {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        font-family: "Barlow", serif;
        color: #D1C1A5;
        text-decoration: none;
        font-size: 20px;
    }
}

.header-image {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        font-family: "Barlow", serif;
        color: #D1C1A5;
        text-decoration: none;
        font-size: 20px;
    }
}

//home-hero
.home-hero-slider:not(.slick-initialized) .home-hero-slide:not(:first-child) {
    display: none;
}

.home-hero-wrapper {
    position: relative;
}

.home-hero-slide {
    background-image: url("../images/homehero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    h4 {
        font-family: "Cookie", serif;
        color: #FFFFFF;
        font-size: 50px;
    }

    h2 {
        font-family: "Prata", serif;
        color: #FFFFFF;
        font-size: 70px;
        max-width: 552px;
        line-height: 80px;
    }

    .button-primary {
        margin-top: 20px;
    }

    .home-hero-text {
        padding: 315px 0 344px 0;
    }


}

.slide-m-prev, .slide-m-next {
    padding: 2px 4px;
    border: 1px solid white;
    border-radius: 50px;
    width: 10px;
    height: 15px;
    cursor: pointer;

    img {
    width: 10px;
    height: 10px;
    display: block;
    margin-top: 3px;

    }
}  

.slider-controls {
    position: absolute;
    bottom: 0px;
    left: 100px;

    display: flex;
    flex-wrap: wrap;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 600px;
    justify-content: space-between;

    .slide-m-dots {
        width: 88%;
    }
    
    .slick-dots {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        gap: 30px;
        border-top: 2px solid #ffffff80;
        justify-content: space-between;
        padding: 0;

        margin: 12px 10px;

        li {
            margin-top: -2px;
            cursor: pointer;
        }

        button {
            border: none;
            border-top: 2px solid white;
            background-color: transparent;
            color: #FFFFFF;
            font-size: 18px;
            font-family: "Prata", serif;

            cursor: pointer;

            width: 50px;

            &:hover {
                border-top: 2px solid #803E38; 
                color: #803E38;
            }
        }
    }

    .slick-dots li button::before {
        content: "0";
      }
      
      .slick-dots li:nth-child(n + 10) button::before {
        content: none;
      }
}

.cvet1 {
    position: absolute;
    top: 11%;
    left: 20%;
}

// safety
.safety-wrapper {
    background-color: #D1C1A5;
    text-align: center;
    padding: 40px;

    h2 {
        font-family: "Prata", serif;
        text-align: center;
        color: #FFFFFF;
        font-size: 30px;
        margin: 0;
    }

    p {
        font-family: "Prata", serif;
        text-align: center;
        color: #803E38;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

// story
.story-wrapper {
    text-align: center;
    padding: 40px;

    h2 {
        font-family: "Prata", serif;
        text-align: center;
        color: #803E38;
        font-size: 30px;
        margin: 0;
        padding-top: 40px;
    }

    p {
        font-family: "Barlow", serif;
        text-align: center;
        color: #483224;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .line {
        width: 109px;
        height: 1px;
        background-color: #803E38;
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}

//salon

.salon-wrapper {
    margin-top: 100px;
    .salon-inner {
        position: relative;
    }
    .salon-text {
        max-width: 360px;
        z-index: 2;
        position: relative;
    }
    .salon-top {
        display: flex;
        align-items: center;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #803E38;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #483224;
        font-size: 50px;
        padding-top: 20px;
        margin: 0;
    }

    p {
        font-family: "Barlow", serif;
        color: #483224;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .salon-image-big {
        position: absolute;
        bottom: -5px;
        right: 0;
        z-index: 1;
        img {
            border-radius: 200px 0 0 0;
            max-width: 939px;
        }
    }

    .salon-image-small {
    position: absolute;
    z-index: 3;
    bottom: -80px;
    right: 0;

    img {
        border-radius: 50px 0 50px 0;
    }
    }

    .read-more { 
        font-family: "Barlow", serif;
        font-size: 12px;
        text-decoration: none;
        color:#A4554E; 
        }  

    .link {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

//spa

.spa-wrapper {
    background-image: url('../images/massage.png');
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #803E38;
    background-size: contain;
    .spa-inner {
        position: relative;

        &::before {
            content: " ";
            width: 100%;
            height: 100%;
            background-color: #803E38;
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
        }
    }

    .spa-text {
        max-width: 360px;
        z-index: 2;
        position: relative;
        padding: 80px 0 40px 0;
        background-color: #803E38;
        border-radius: 0 200px 0 0;
    }
    .spa-top {
        display: flex;
        align-items: center;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #E7D1A7;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #FFFFFF;
        font-size: 50px;
        padding-top: 20px;
        margin: 0;
    }

    p {
        font-family: "Barlow", serif;
        color: #FFFFFF;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .button-primary {
        border-color: #D1C1A5;

        span {
            color: #483224;
            background-color: #D1C1A5;
        }

        &:hover {
            span {
                color: #fff;
            }

        }
    }

    .link {
        margin-top: 80px;
        display: block;
    }

    .read-more { 
        font-family: "Barlow", serif;
        font-size: 12px;
        text-decoration: none;
        color:#E7D1A7;
    }  

}

// bridal

.bridal-wrapper {
    margin-top: 100px;

    .bridal-inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        background-image: url("../images/woman-bride.png");
        border-radius: 0 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bridal-text {
        max-width: 400px;
        z-index: 2;
        position: relative;
        padding: 80px 40px 40px 40px;
        background-color: rgba(255, 255, 255, 0.41);
        border-radius: 0px 200px 0px 0px;
    }

    .bridal-top {
        display: flex;
        align-items: center;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #803E38;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #483224;
        font-size: 50px;
        padding-top: 20px;
        margin: 0;
    }

    p {
        font-family: "Barlow", serif;
        color: #803E38;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .link {
        margin-top: 80px;
        display: block;
    }

    .read-more { 
        font-family: "Barlow", serif;
        font-size: 12px;
        text-decoration: none;
        color:#803E38;
    }  

}

//salt

.salt-wrapper {
    background-color: #D1C1A5;
    margin-top: 100px;
    .salt-inner {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;

    }

    .salt-text {
        max-width: 360px;
        position: relative;
        width: 50%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .salt-top {
        display: flex;
        align-items: center;
        width: 100%;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #803E38;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #FFFFFF;
        font-size: 50px;
        padding-top: 20px;
        margin: 0;
    }

    p {
        font-family: "Barlow", serif;
        color: #FFFFFF;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .salt-image {
        width: 50%;
        img {
            border-radius: 0 100px 0 100px;
            max-width: 552px;
            display: block;
        }
    }
}

// cezzane

.cezanne-wrapper {
    text-align: center;
    padding: 40px;

    h2 {
        font-family: "Prata", serif;
        text-align: center;
        color: #803E38;
        font-size: 30px;
        margin: 0;
        padding-top: 40px;
    }

    p {
        font-family: "Barlow", serif;
        text-align: center;
        color: #483224;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .line {
        width: 109px;
        height: 1px;
        background-color: #803E38;
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}

    
    .product-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 100px;
    }
    
    .product-text {
        width: 50%;
        padding-right: 20px;
    }
    
    .product-description, .product-description-hover {
        font-size: 18px;
        color: #6b2f1d;
        margin-bottom: 15px;
    }
    
    .product-image {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        }
       

// product

.product-wrapper {

    .product-description {
        display: flex;
    }

    .product-description-hover {
        display: none!important;
    }

    .product-top-img {
        display: block;
    }

    .product-top-img-hover {
        display: none;
    }

    .link-arrow {
        display: inline;
    }

    .link-arrow-hover {
        display: none;
    }

    &:hover {
        .product-inner {
            background-color: #D1C1A5;
        }

        .product-top-img {
            display: none;
        }
    
        .product-top-img-hover {
            display: block;
        }

        .product-top {
            h4 {
                color: #803E38;
            }
        }

        h2 {
            color: #803E38;
        }

        .read-more {
            color: #803E38; 
        }

        .product-description {
            display: none;
        }
    
        .product-description-hover {
            display: flex!important;
        }

        .link-arrow {
            display: none;
        }
    
        .link-arrow-hover {
            display: inline;
        }

    }
}

.product-inner {
    background-color: #803E38;
    border-radius: 0 100px;
    display: flex;

    .product-main {
        width: 50%;
        padding: 40px;
        position: relative;
    }

    .product-image {
        width: 50%;

        img {
            display: block;
            border-radius: 0 100px;
        }
    }

    .product-inner {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;

    }

    .product-description, .product-description-hover {
        max-width: 512px;
        position: relative;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .product-top {
        display: flex;
        align-items: center;
        width: 100%;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #D1C1A5;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #FFFFFF;
        font-size: 50px;
        padding-top: 20px;
        margin: 0;
    }

    p {
        font-family: "Barlow", serif;
        color: #FFFFFF;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .link {
    position: absolute;
    right: 41px;
    bottom: 40px;
    }

    }
    .read-more { 
        font-family: "Barlow", serif;
        font-size: 12px;
        text-decoration: none;
        color:#D1C1A5; 
    }  


// faqs

.faqs-wrapper {
    background-color: #F3F3F3;
    margin-top: 100px;
    padding: 40px 0;
    .faqs-inner {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;

    }

    .faqs-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .faqs-top {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;


        img {
            width: 36px;
            height: 36px;
        }

        h4 {
            padding-left: 20px;
            font-family: "Cookie", serif;
            color: #803E38;
            font-size: 25px;
            margin: 0;
            }
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #483224;
        font-size: 50px;
        margin: 0;
    }
}

// news

.news-wrapper {
    background-color: #D1C1A5;
    padding: 80px;

    .news-text {
        font-family: "Prata", serif;
        font-size: 50px;
        color: #803E38;
        text-align: center;
    }

    .news-items {
        display: flex;
        flex-wrap: wrap;
        gap: 31px;
        justify-content: space-between;
    }

    .news-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            width: 16px;
            height: 18px;
        }
    }
    
    .card {
        background: #fff;
        border-radius: 100px 0;
        max-width: 357px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        transition: 300ms all;

        &:hover {
            margin-top: -30px;
            margin-bottom: 30px;
        }
    }

    .news-box {
        padding: 36px;
    }

    h4 {
        font-family: "Cookie", serif;
        font-size: 25px;
        color: #803E38;
        padding-left: 5px;
    }

    h2 {
        font-family: "Prata", serif;
        font-size: 30px;
        color: #483224;
        padding: 16px 0 20px 0;
    }

    .dateandtime {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        .line {
            width: 60%;
            background-color: #803E38;
            height: 1px;
            align-self: center;
        }
    }

    .date {
        font-family: "Barlow", serif;
        font-size: 12px;

        width: 40%;
        margin: 0;
    }

    .time {
        font-family: "Barlow", serif;
        font-size: 12px;
        padding-top: 6px;
    }
    .description {
        font-family: "Barlow", serif;
        font-size: 16px;
    }

    .read-more {
        font-family: "Barlow", serif;
        font-size: 12px;
        text-decoration: none;
        color: #803E38;
    }
    .link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
            padding-left: 10px;
        }
    }
    
}

// cta

.cta-wrapper {
    background-color: #F3F3F3;
    padding: 40px 0;
    .cta-inner {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;

    }

    .cta-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    h2 {
        font-family: "Prata", serif;
        color: #803E38;
        font-size: 30px;
        margin: 0;
    }
}

// footer

.footer {
    background-color: #F3F3F3;

    .footer-main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }

    .footer-col1 {
        max-width: 33%;
    }

    .footer-col2 {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        max-width: 66%;
        margin-top: 100px;
        justify-content: space-evenly;
    }

    .footer-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-text {
        font-family: "Prata", serif;
        color: #803E38;
        font-size: 50px;
        margin: 0;
    }  

    .contact-info {
        font-family: "Barlow", serif;
        color: #483224;
        font-size: 16px;
        max-width: 33%;

        p {
            margin: 0;
            margin-bottom: 26px;

            display: flex;
        }

        a {
            text-decoration: none;
            font-family: "Barlow", serif;
            color: #483224;
            font-size: 16px;
        }

        img {
            margin-top: 3px;
            margin-right: 10px;
        }

        span {
            max-width: 140px;
        }
    }

    .hours {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #803E38;
        font-family: "Barlow", serif;
        font-size: 16px;
        max-width: 33%;
    }

    .hours-text {
        display: flex;
        width: 100%;
        padding-left: 10px;

        img {
            width: 17px;
            height: 17px;
        }

        p {
            margin: 0;
            padding-left: 10px;
        }

    }

    .days {
        ul {
            li {
                color: #483224;
                font-family: "Barlow", serif;
                font-size: 16px;
                list-style: none;
                min-width: 220px;
                margin-bottom: 10px;
            }
        }
        padding-right: 33px;
        max-width: 234px;
    }

    .social-wrap {
        max-width: 33%;
    }

    .social-title {
        p {
            color: #803E38;
            font-family: "Barlow", serif;
            font-size: 16px;
            margin: 0;
        }
    }

    .social-link1 {
            img {
               width: 9px; 
               height: 17px;
               padding-top: 20px;
               padding-right: 20px;
            }
        }
    }

    .social-link2 {
        img {
           width: 17px; 
           height: 17px;
           padding-top: 20px;
        }
    }


    .wrap1-title {
        h4 {
            color: #D1C1A5;
            font-family: "Prata", serif;
            font-size: 16px;
        }
    }

    .footer-menu {
        ul {
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 27px;
            }

            a {
                text-decoration: none;
                color: #483224;
                font-family: "Barlow", serif;
                font-size: 16px;
            }
        }
    }

    .wrap2-title {
        h4 {
            color: #D1C1A5;
            font-family: "Prata", serif;
            font-size: 16px;
        }
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

//copyright

.copyright-wrapper {
    background-color: #803E38;
    width: 100%;

    .copyright-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    p {
        font-family: "Prata", serif;
        color: #FFFFFF;
        font-size: 12px;
    }
}








